body{
    margin: 0 20px;
    border: 0;
    font-family: 楷体;
}

.clear{
    clear: both;
}

* ul{
    list-style: none;
}

a,a:visited,a:focus,a:link{
    color: black;
    text-decoration: none;
}

#sidebar a:hover{
    color: white;
}

#showRightPush{
    position: absolute;
    right: 250px;
    font-size: larger;
    font-family: 楷体;
    color: white;
}

#sidebar{
    background-color: #3c3a39;
}

#select{
    margin-left: 10px;
}


header{
    width: 1310px;
    height: 400px;
    position: relative;
    overflow: hidden;
    font-family: 楷体;
    background-color: #6F6F6F;
}

#header_img{
    position: absolute;
    left: 50px;
    top: 20px;
    width: 167px;
    height: 100px;
}

#header_1{
    color: white;
    font-size: larger;
    position: absolute;
    top: 110px;
    left: 50px;
}

#header_2{
    font-size: 40px ;
    color: black;
    position: absolute;
    top: 240px;
    left: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

#menu{
    float: right;
    font-size: larger;
    color: white;
    margin-right: 50px;
}

#main{
    width: 1310px;
    height: 1400px;
}

#main_top{
    width: 1310px;
    height: 600px;
}

#main_top_left,#main_top_right{
    margin-top: 50px;
    float: left;
    width: 600px;
    height: 600px;
}

#main_top_right{
    font-size: 23px;
}

#main_top_ul{
    margin-left: 50px;
    width: 400px;
    height: 480px;
    list-style-type: decimal;
}

#main_top_ul li{
    width: 400px;
    height: 160px;
    font-size: 30px;
}

#main_bottom{
    font-size: larger;
    width: 1310px;
    height: 800px;
    background-color: #6F6F6F;
}

#main_bottom_d1,#main_bottom_d2,#main_bottom_d3{
    width: 400px;
    height: 700px;
    background-color: white;
    border-radius: 5px;
    float: left;
    margin: 0px 0px 10px 27px;

}

#main_bottom_img1,#main_bottom_img2,#main_bottom_img3{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: #6F6F6F;
    margin: 30px 0 0 50px;
}

#main_bottom_ul1,#main_bottom_ul2,#main_bottom_ul3{
    margin-top: 30px;
    width: 300px;
    height: 450px;
}

#main_bottom_ul1 li{
    text-align: center;
    width: 300px;
    height: 225px;
}

#main_bottom_ul2 li{
    text-align: center;
    width: 300px;
    height: 225px;
}

#main_bottom_ul3 li{
    text-align: center;
    width: 300px;
    height: 225px;
}

#main_bottom_btn1,#main_bottom_btn2,#main_bottom_btn3{
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-family: 楷体;
    border: 2px solid #6F6F6F;
    border-radius: 5px;
    background-color: white;
}


#main_bottom_btn1:hover{
    background-color: #6F6F6F;
}

#main_bottom_btn2:hover{
    background-color: #6F6F6F;
}

#main_bottom_btn3:hover{
    background-color: #6F6F6F;
}

footer{
    width: 1310px;
    height: 540px;
    font-family: 楷体;
    background-color: #3c3a39;
}

#foot_left{
    margin-top: 100px;
    margin-left: 50px;
    float: left;
    width: 600px;
}

#footer_ul li{
    float: left;
    margin-left: 5px;
}

* a:visited{
    color: black;
}

* a{
    text-decoration: none;
}

#csdn{
    margin-left: 43px;
}

#footer_right{
    margin-top: 100px;
    float: left;
    width: 650px;
}

video{
    width: 500px;
    height: 300px;
}

.fontwhite{
    color: white;
}

#rightfont{
    text-align: right;
    margin-right: 100px;
}

#centerfont{
    text-align: center;
}