body{
    margin: 0 20px;
    border: 0;
}

header{
    width: 1310px;
    height: 680px;
    position: relative;
    font-family: 楷体;
    background-color: #6F6F6F;
}

* ul{
    list-style: none;
}

a,a:visited,a:focus,a:link{
    color: black;
    text-decoration: none;
}

#sidebar a:hover{
    color: white;
}

#showRightPush{
    position: absolute;
    right: 250px;
    font-size: larger;
    font-family: 楷体;
    color: white;
}

#sidebar{
    background-color: #3c3a39;
}

#select{
    margin-left: 10px;
}


#header_img{
    position: absolute;
    left: 50px;
    top: 20px;
    width: 167px;
    height: 100px;
}

#header_1{
    color: white;
    font-size: larger;
    position: absolute;
    top: 110px;
    left: 50px;
}

#header_2{
    font-size: 40px ;
    color: white;
    position: absolute;
    top: 280px;
    left: 50px;
}

#jieshao{
    font-size: larger;
    background-color: white;
    width: 423px;
    height: 150px;
    border: 1px solid #6F6F6F;
    border-radius: 10px;
    position: relative;
    top:480px;
    left: 50px;
}

#header_btn{
    margin-left: 20px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-family: 楷体;
    border: 2px solid #6F6F6F;
    border-radius: 5px;
    background-color: white;
}

#header_btn:hover{
    background-color: #6F6F6F;
}


#menu{
    float: right;
    font-size: larger;
    color: white;
    margin-right: 50px;
}


#main{
    width: 1310px;
    height: 2350px;
    background-color: white;
    font-family: 楷体;
}

#main_top{
    width:1310px;
    height: 750px;
}

#main_top h2{
    text-align: center;
    width: 1310px;
    height: 100px;
}
#main_top_btn{
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-family: 楷体;
    border: 2px solid #6F6F6F;
    border-radius: 5px;
    background-color: white;
}

#main_top_btn:hover{
    background-color: #6F6F6F;
}

#main_img1{
    width: 500px;
    height: 600px;
    background-color: #6F6F6F;
    float: left;
    margin-left: 50px;
    margin-right: 50px;
}

#main_ul1 li{
    height: 100px;
}

.clear{
    clear: both;
}

#main_medium{
    width: 1310px;
    height: 800px;
    background-color: #6F6F6F;
}

#main_medium_d1,#main_medium_d2,#main_medium_d3{
    width: 400px;
    height: 750px;
    background-color: white;
    border-radius: 5px;
    float: left;
    margin: 20px 0px 10px 27px;

}

#main_medium_img1,#main_medium_img2,#main_medium_img3{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: #6F6F6F;
    margin: 30px 0 0 50px;
}

#main_medium_ul1,#main_medium_ul2,#main_medium_ul3{
    width: 300px;
    height: 450px;
}

#main_medium_ul1 li{
    text-align: center;
    width: 300px;
    height: 100px;
}

#main_medium_ul2 li{
    text-align: center;
    width: 300px;
    height: 100px;
}

#main_medium_ul3 li{
    text-align: center;
    width: 300px;
    height: 100px;
}

#main_medium_btn1,#main_medium_btn2,#main_medium_btn3{
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-family: 楷体;
    border: 2px solid #6F6F6F;
    border-radius: 5px;
    background-color: white;
}

#main_medium_btn1:hover{
    background-color: #6F6F6F;
}

#main_medium_btn2:hover{
    background-color: #6F6F6F;
}

#main_medium_btn3:hover{
    background-color: #6F6F6F;
}

#main_bottom{
    width: 1310px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
}

#main_bottom_ul1,#main_bottom_ul2,#main_bottom_ul3{
    width: 380px;
    height: 500px;
    list-style: none;
    float: left;
}

#main_bottom_ul1 li{
    height: 120px;
}

#main_bottom_ul2 li{
    height: 120px;
}

#main_bottom_ul3 li{
    height: 120px;
}

#main_bottom_btn1,#main_bottom_btn2,#main_bottom_btn3{
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-family: 楷体;
    border: 2px solid #6F6F6F;
    border-radius: 5px;
    background-color: white;
}

#main_bottom_btn1:hover{
    background-color: #6F6F6F;
}

#main_bottom_btn2:hover{
    background-color: #6F6F6F;
}

#main_bottom_btn3:hover{
    background-color: #6F6F6F;
}


footer{
    width: 1310px;
    height: 540px;
    font-family: 楷体;
    background-color: #3c3a39;
}

#foot_left{
    margin-top: 100px;
    margin-left: 50px;
    float: left;
    width: 600px;
}

#footer_ul li{
    float: left;
    margin-left: 5px;
}

* a:visited{
    color: black;
}

* a{
    text-decoration: none;
}

#csdn{
    margin-left: 43px;
}

#footer_right{
    margin-top: 100px;
    float: left;
    width: 650px;
}

video{
    width: 500px;
    height: 300px;
}

.fontwhite{
    color: white;
}

#rightfont{
    text-align: right;
    margin-right: 100px;
}

#centerfont{
    text-align: center;
}