body{
    margin: 0 20px;
    border: 0;
    font-family: 楷体;
}

* ul{
    list-style: none;
}

.clear{
    clear: both;
}

a,a:visited,a:focus,a:link{
    color: black;
    text-decoration: none;
}

#sidebar a:hover{
    color: white;
}

#showRightPush{
    position: absolute;
    right: 250px;
    font-size: larger;
    font-family: 楷体;
    color: white;
}

#sidebar{
    background-color: #3c3a39;
}

#select{
    margin-left: 10px;
}


header{
    width: 1310px;
    height: 400px;
    position: relative;
    overflow: hidden;
    font-family: 楷体;
    background-color: #6F6F6F;
}

#header_img{
    position: absolute;
    left: 50px;
    top: 20px;
    width: 167px;
    height: 100px;
}

#header_1{
    color: white;
    font-size: larger;
    position: absolute;
    top: 110px;
    left: 50px;
}

#header_2{
    font-size: 40px ;
    color: black;
    position: absolute;
    top: 240px;
    left: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

#menu{
    float: right;
    font-size: larger;
    color: white;
    margin-right: 50px;
}

#main{
    width: 1310px;
    height: 1800px;
}

#main_top{
    margin-top: 50px;
}

#main_top,#main_medium,#main_bottom{
    width: 1310px;
    height: 600px;
}

#main_top_img,#main_medium_img{
    width: 500px;
    height: 550px;
    float: left;
    margin-right: 50px;
}

#main_top_right,#main_medium_right{
    float: left;
}
#main_bottom{
    background-color: #6F6F6F;
}

#main_bottom ul li{
    height: 200px;
    font-size: 25px;
    color: white;
    font-family: 楷体;
    text-align: center;
}

#main_bottom_btn{
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-family: 楷体;
    border: 2px solid #3c3a39;
    border-radius: 5px;
    background-color: #6F6F6F;
}

#main_bottom_btn:hover{
    background-color: white;
}

footer{
    width: 1310px;
    height: 540px;
    font-family: 楷体;
    background-color: #3c3a39;
}

#foot_left{
    margin-top: 100px;
    margin-left: 50px;
    float: left;
    width: 600px;
}

#footer_ul li{
    float: left;
    margin-left: 5px;
}

* a:visited{
    color: black;
}

* a{
    text-decoration: none;
}

#csdn{
    margin-left: 43px;
}

#footer_right{
    margin-top: 100px;
    float: left;
    width: 650px;
}

video{
    width: 500px;
    height: 300px;
}

.fontwhite{
    color: white;
}

#rightfont{
    text-align: right;
    margin-right: 100px;
}

#centerfont{
    text-align: center;
}