body{
    margin: 0 20px;
    border: 0;
    font-family: 楷体;
}

* ul{
    list-style: none;
}

a,a:visited,a:focus,a:link{
    color: black;
    text-decoration: none;
}

#sidebar a:hover{
    color: white;
}

#showRightPush{
    position: absolute;
    right: 250px;
    font-size: larger;
    font-family: 楷体;
    color: white;
}

#sidebar{
    background-color: #3c3a39;
}

#select{
    margin-left: 10px;
}

header{
    width: 1310px;
    height: 400px;
    position: relative;
    overflow: hidden;
    font-family: 楷体;
    background-color: #6F6F6F;
}

#header_img{
    position: absolute;
    left: 50px;
    top: 20px;
    width: 167px;
    height: 100px;
}

#header_1{
    color: white;
    font-size: larger;
    position: absolute;
    top: 110px;
    left: 50px;
}

#header_2{
    font-size: 40px ;
    color: black;
    position: absolute;
    top: 240px;
    left: 50px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

#menu{
    float: right;
    font-size: larger;
    color: white;
    margin-right: 50px;
}

#main{
    width: 1310px;
    height: 1500px;
}

#main_left{
    width: 850px;
    height: 1500px;
    margin-left: 20px;
    float: left;
}

#main_right{
    width: 400px;
    height: 1500px;
    float: left;
}

#main_left_top{
    height: 700px;
}

#main_left_bottom{
    height: 800px;
}

#main_left_top_ul{
    list-style: none;
    width: 400px;
    height: 650px;
}

#main_left_top_ul li{
    height: 130px;
}

#main_left_bottom_ul1,#main_left_bottom_ul2{
    float: left;
    height: 600px;
    width: 300px;
}

#main_left_bottom_ul1 li{
    height: 100px;
}

#main_left_bottom_ul2 li{
    height: 100px;
}

#main_left_bottom_btn1,#main_left_bottom_btn2{
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-family: 楷体;
    border: 2px solid #6F6F6F;
    border-radius: 5px;
    background-color: white;
}

#main_left_bottom_btn1:hover{
    background-color: #6F6F6F;
}

#main_left_bottom_btn2:hover{
    background-color: #6F6F6F;
}

#main_right_ul1,#main_right_ul2,#main_right_ul3,#main_right_ul4,#main_right_ul5{
    width: 500px;
    height: 120px;
}

#main_right_ul1 li{
    height: 40px;
}

#main_right_ul2 li{
    height: 40px;
}

#main_right_ul3 li{
    height: 40px;
}

#main_right_ul4 li{
    height: 40px;
}

#main_right_ul5 li{
    height: 40px;
}

.blog_img{
    width: 300px;
    height: 150px;
    margin-left: 20px;
}


footer{
    width: 1310px;
    height: 540px;
    font-family: 楷体;
    background-color: #3c3a39;
}

#foot_left{
    margin-top: 100px;
    margin-left: 50px;
    float: left;
    width: 600px;
}

#footer_ul li{
    float: left;
    margin-left: 5px;
}

* a:visited{
    color: black;
}

* a{
    text-decoration: none;
}

#csdn{
    margin-left: 43px;
}

#footer_right{
    margin-top: 100px;
    float: left;
    width: 650px;
}

video{
    width: 500px;
    height: 300px;
}

.fontwhite{
    color: white;
}

#rightfont{
    text-align: right;
    margin-right: 100px;
}

#centerfont{
    text-align: center;
}